@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,300&display=swap');

/*Variables*/
:root {
    --gray-header: #E6E6E6;
    --gray-cv: #C4C4C4;
    --text-color: #005677;
    --sm: 15px;
    --md: 20px;
    --lg: 30px;
    --xl: 35px;
    --xxl: 50px;
    --font-links: "Jost",sans-serif;
    --link-1: #eb4034;
    --borderfoto: #20baca;
}

/*Variables*/
*{
    list-style: none;
    text-decoration: none;
}
body{
    box-sizing: border-box;
    margin: 0;
    font-family: var(--font-links);
}

.container-cv{
    width: 100%;
    height: 1073px;
}

.header-logo{
    background-color: var(--gray-header);
    height: 207px;
    display: flex;
}
.container-links{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-links ul {
    display: flex;
    gap: 5em;
}
.container-links ul li a,  .container-link-presentacion ul li a{
    font-size: var(--lg);
    color: black;
    font-family: var(--font-links);
    position: relative;
    transition: color .3s ease-in-out;

    &::before{
        content: '';
        position: absolute;
        background-color: var(--link-1);
        transform: scaleX(0);
        transition: transform .6s ease-in-out;
        top: 100%;
        width: 100%;
        height: 2px;
    }

    &:hover{
        color: var(--link-1);
    }

    &:hover::before{
        transform: scaleX(1);
    }
}

.container-img{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.container-img img:nth-child(2){
    border-radius: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-img img:nth-child(1){
    height: 206px;
}

.title-cv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: var(--gray-cv);
}

.title-cv p{
    color: var(--text-color);
    font-weight: 600;
    font-size: var(--xl);
    letter-spacing: 8px;
    text-transform: uppercase;
}

h2{
    background-color: var(--gray-cv);
    color: var(--text-color);
    display: flex;
    align-items: center;
    font-size: var(--md);
    height: 30px;
    letter-spacing: 8px;
    padding-left: 15px;
    width: 100%;
}

li{
    font-size: var(--sm);
    line-height: 30px;
    font-style: italic;
}
.formacion-academica p, .experiencia p {
    color: black;
    font-size: var(--sm);
    margin-left: 25px;
    margin-bottom: 0;
}

.formacion-academica p:nth-child(2), .experiencia p:nth-child(2){
    margin-top: 0;
    margin-left: 100px;
}
.formacion-academica p:nth-child(4), .experiencia p:nth-child(4), .experiencia p:nth-child(6){
    margin-top: 0;
    margin-left: 100px;
}
.footer-cv{
    background-color: #005677;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-cv i{
    color: white;
    font-size: var(--lg);
    margin-left: 15px;
}

.footer-cv span{
    color: white;
    font-size: 25px;
}

/*presentacion*/
.container-link-presentacion{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container-cv-presentacion{
    height: 800px;
    margin-top: 35px;
}
.presentacion{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.presentacion img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 6px solid var(--borderfoto);
    margin-bottom: 45px;
}
.presentacion span{
    font-size: var(--xxl);
    font-weight: bold;
    height: 100px;
}

.presentacion p{
    text-align: center;
    font-size: var(--md);
    width: 350px;
    margin: 11px;
}
.container-datos{
    width: 100%;
    height: 350px;
    background-color: var(--borderfoto);
    display: flex;
    justify-content: center;
}
.datos{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 950px;
    height: 350px;
    position: absolute;
    bottom: 180px;
    background-color: white;

}
.circle-icon{
    background-color: var(--borderfoto);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.circle-icon i{
    font-size: var(--xxl);
    color: white;
    display: flex;
    align-items: center;
}
.container-icons{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
}
.texto{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.texto span{
    font-size: var(--lg);
}


